extends ./layout.jade

block css
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  .welcome-image
  .welcome
    .nav
      img(src="#", alt="app logo")

      if(currentUser)
        .user
          a(href="/users/#{currentUser.id}") #{currentUser.first_name} #{currentUser.last_name}
      else
        .user
          a(href="/auth/login") Log in or Sign up

    .welcome-text
      h3 Wine App
      a(href="/matches"): button Find a match

  .team-picks
    .picks
    .picks
    .picks

  .technologies
    .technologies-text
      p.section-header Technologies 
      | node, express, postgresql, jade, css, javascript, knex, jquery, passport, mocha, supertest

  .team
    .members
    .members
    .members

block scripts
  script(src="http://code.jquery.com/jquery-2.2.1.min.js")
  script(src="/javascript/home.js")