extends ./layout.jade

block css
  link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  link(rel="stylesheet" href="/stylesheets/home.css")

block content
  .welcome-image
  .welcome
    .nav
      img.logo(src="/images/logo.png", alt="logo")

      if(currentUser)
        .user
          a(href="/auth/logout") Logout
          a(href="/users/#{currentUser.id}") #{currentUser.first_name}
      else
        .user
          a#modal_trigger(href="#modal") Log in | Sign up

    .welcome-text
      h1 Thirsty?
      p.welcome-paragraph 
        | We know the feeling. 
        | You are having friends over for dinner and 
        | have already planned the perfect meal.
        | But you still haven't found a wine to go with it.
        | Winio can help you! 
      a(href="/matches"): button Try it out

  .team-picks
    p.section-header Winio's Favorites
    .picks
    .picks
    .picks

  .technologies
      p.section-header The Technologies 
      br
      img.tech-logo(src="/images/knex.png") 
      img.tech-logo(src="/images/jade.png")
      img.tech-logo(src="/images/node.png")
      img.tech-logo(src="/images/css.png")
      br
      br
      img.tech-logo(src="/images/js.png")
      img.tech-logo(src="/images/postgresql.png")
      img.tech-logo(src="/images/jquery.png")
      img.tech-logo(src="/images/passport.png")
      img.tech-logo(src="/images/mocha.png")

  .team
    p.team-header The Team
    .members
      img.profile-pic(src="/images/christina.jpg" style="height: 200px;")
      p.members-names
        strong Christina 
      | Co-founder and CEO
    .members
      img.profile-pic(src="/images/andrew.jpg" style="height: 200px;")
      p.members-names
        strong Andrew
      | Co-founder and CTO
    .members
      img.profile-pic(src="/images/kyle.jpg" style="height: 200px;")
      p.members-names
        strong Kyle 
      | Co-founder and C3PO

  .footer
    p.section-header Check out the code on Github
    p
      a(href="https://github.com/KoolCrispyAwesome/q2_wine_app" alt="GitHub Icon" target="_blank")
        img.socialIcon(src="/images/github-red.png")

  div#modal.popupContainer(style="display:none;")
    header.popupHeader
      span.header_title Login
      span.modal_close
        i.fa.fa-times

    section.popupBody
      div.social_login
        div.clearfix
          a.social_box.fb(href="/auth/facebook")
            span.icon
              i.fa.fa-facebook
            span.icon_title Connect with Facebook

        div.centeredText
          span Or use your Email address

        div.action_btns
          div.one_half
            a#login_form.btn(href="#" name="login_form") Login

          div.one_half.last
            a#register_form.btn(href="#" name="register_form") Sign up

      div.user_login
        form(action='/auth/login' method='POST')
          label Email
          input(type='email' name='user[email]' required autofocus)
          br
          label Password
          input(type='password' name='user[password]' required)
          br

          div.action_btns
            div.one_half
              a.btn.back_btn(href="#") Back

            div.one_half.last
              input.btn.btn_red(type="submit" value="Login")

      div.user_register
        form(action='/auth/signup' method='POST')
          label First Name
          input(type='text' name='user[first_name]' required autofocus)
          br
          label Last Name
          input(type='text' name='user[last_name]' required)
          br
          label Email Address 
          input(type='email' name='user[email]' required)
          br
          label Password
          input(type='password' name='user[password]' required)
          br

          div.action_btns
            div.one_half
              a.btn.back_btn(href="#") Back

            div.one_half.last
              input.btn.btn_red(type="submit" value="Register")

block scripts
  script(src="http://code.jquery.com/jquery-2.2.1.min.js")
  script(type="text/javascript" src="javascript/jquery.leanModal.min.js")
  script(src="/javascript/home.js")