extends ../layout.jade

block content
  style.
    img {
      width:100%
    }
    h1 {
      text-align: center
    }

  h1 Error 404: Page not found
  img(src="http://1.bp.blogspot.com/_YpGei6ikgZc/TKVAlaV6IWI/AAAAAAAAA-o/dlI--SrHWsA/s1600/wine-glass-spilled.jpg")