extends ../layout.jade

block content
  div(class="veggies")
    div
      h3 Veggies
      img(src="https://cdn2.iconfinder.com/data/icons/restaurant-1/100/vegan_food_meal_dinner_lunch_restaurant_vegetables-128.png")
    p Asparagus
      img(src="https://cdn0.iconfinder.com/data/icons/veggie/64/asparagus-128.png")
    p Squash
    p Chilli Peppers
    p Mushrooms
    p Tomatoes
    p Onions
    p Broccoli
    p Grilled Peppers

  div(class="cheese")
    h3 Cheese
    p Feta
    p Asiago
    p Havarti
    p Gouda
    p Goat Cheese
    p Cheddar
    p Parmesan
    p Romano
    p Gorganzola
    p Aged Cheese

  div(class="Meat")
    h3 Meat
    p Chicken
    p Turkey
    p Veal
    p Duck
    p Lamb
    p Filet Mignon
    p Pepperoni
    p Spicy Sausage
    p Steak
    p Ribeye
    p Beef
    p Pork
    p Scallops
    p Shrimp
    p Crab
    p Trout
    p Tuna
    p Salmon
    p Swordfish
    p Blackened Fish

  div(class="dessert") 
    h3 Dessert
    p Sorbet
    p Vanilla Pudding
    p Apple Pie
    p Creme Brulee
    p Cake
    p Dark Chocolate
    p Bittersweet
    p Carrot Cake
