body {
    margin: 0;
}

.err{
    font-weight: bold;
    margin: -10px;
    color: rgb(238, 114, 114)
}

img {
    height: 100px;
    width: 100px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(238, 114, 114);
    font-family: arial;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
li a:hover {
    background-color: #e7e7e7;
}

.button-wrapper{
    box-sizing: border-box;
    position: absolute;
    top: 500px;
    right: 5%;
    text-align: center;
}

button {
    font: Arial;  
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(109, 2, 2); 
    color: white;
}

.v {
    float: left;
    padding: 15px;
}
.c {
    float: left;
    padding: 15px;
}
.m {
    float: left;
    padding: 15px;
}
.d {
    float: left;
    padding: 15px;
}

.v.selected {
    background-color: rgb(238, 114, 114);
}
.c.selected {
    background-color: rgb(238, 114, 114);
}
.m.selected {
    background-color: rgb(238, 114, 114);
}
.d.selected {
    background-color: rgb(238, 114, 114);
}

p {
    text-align: center;
    font: Arial;
}

.match-wrapper {
    height: 500px;
    background-color: #e7e7e7;
    font-family: Arial;
    padding-top: 20px;
    text-align: center;
}

.dropdown-content-veggies {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin-left: 4px; 
    background-color: #f9f9f9;
    max-width: 575px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content-cheese {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin-left: -156px;
    max-width: 575px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content-meat {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -315px;
    box-sizing: border-box;
    max-width: 575px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content-dessert {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-sizing: border-box;
    margin-left: -475px;
    max-width: 575px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown {
    display: inline-block;
    padding: 30px;
}

