body {
  font-family: Helvetica, Arial;
}

.error {
  margin: 0;
}
/*MATCH SECTION*/
.match-wrapper {
  height: 500px;
  background-color: #e7e7e7;
  font-family: Arial;
  padding-top: 20px;
  text-align: center;
}

.match {
  display: inline-block;
  width: 350px;
  height: 300px;
  vertical-align: top;
}

.match:nth-child(even) {
  margin: 0 20px;
}

.match-img {
  width: 300px;
  height: 300px;
}

.match-text {
  padding: 40px 0 0 0;
  margin: 0;
}

button {
  background-color: rgb(109, 2, 2);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  outline: 0;
}

.vRow1 {
  float: left;
}

.wine-img {
  height: 300px;
  width: auto;
}

.wine-name {
  font-weight: bold;
  color: rgb(109, 2, 2); 
}

.box {
  height: 300px;
  width: 300px;
  color: rgb(109, 2, 2);
}

/*RECIPE SECTION*/
.recipe-wrapper {
  height: 500px;
  font-family: Arial;
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
}

.img-wrapper {
  display: block;
  float: left;
  margin-top: 30px;
}

.recipe {
  display: block;
  color: black;
  float: left;
  margin-left: 150px;
  margin-top: 30px;
  width: 400px;
  height: 300px;
}

.section-headline {
  color: rgb(109, 2, 2);
  font-size: 30px;
  font-weight: bold;
}

.recipe-headline {
  color: black;
  font-family: Arial;
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.recipe-text {
  text-align: left;
}
