* { 
  font-family: Arial;
}

.header {
  background-color: rgb(231, 231, 231);
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

p {
  margin: 0;
  padding: 20px;
  color: rgb(102, 102, 102);
}

.form {
  box-sizing: border-box;
  padding: 0 20px 20px;
  border: 1px solid rgb(221, 221, 221);
  width: 50%;
  margin: 0 auto;
}

button {
  display: block;
  height: 40px;
  padding: 8px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  border: none;
  background: rgb(109, 2, 2);
  cursor: pointer;
}

label {
  display: block;
  margin: 20px 0 5px;
}

input {
  font-size: 13px;
  width: 96%;
  padding: 8px;
  border: 1px solid #DDD;
}

.form img {
  display: block;
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
}

.form .uploadcare-widget-button {
  border-radius: 0;
  background: rgb(109, 2, 2);
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
}