extends ../layout.jade

block css
  link(rel="stylesheet", href="/stylesheets/user_edit.css")
  link(rel="stylesheet", href="/stylesheets/navbar.css")

block content
  include ../_navbar.jade

  .header: p: strong Account Settings
  .form
    form(action="/users/#{user.id}?_method=PUT" method="POST")
      label(for="user-photo") Profile Picture
      img(src=user.photo, alt="user avatar")
      input(type="hidden" name="user[photo]" role="uploadcare-uploader")

      label(for="user-first-name") First Name
      input(type='text' name='user[first_name]' autofocus)

      label(for="user-last-name") Last Name
      input(type='text' name='user[last_name]')

      label(for="user-email") Email
      input(type='email' name='user[email]')

      label(for="user-password") Password
      input(type='password' name='user[password]')

      button(type='submit') Update Profile

block scripts
  include ../_uploadcare.jade