extends ../layout.jade

block head
  title Favorites

block css
  link(rel="stylesheet", href="/stylesheets/user_show.css")
  link(rel="stylesheet", href="/stylesheets/navbar.css")

block content
  include ../_navbar.jade

  div.match-wrapper
    p.section-headline The Perfect Combi
    div.match
      img.match-img(src="/images/food-match-icon.png")
      p Food
    div.match.match-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quas veritatis voluptas dolorem consectetur! Est aliquam nostrum magnam modi voluptate officiis quod iure repellendus vero asperiores natus dolor laborum, explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ea necessitatibus deserunt porro tenetur quidem commodi optio cupiditate perferendis esse id possimus in saepe totam adipisci, nesciunt quasi officia? Nisi!
    div.match
      img.match-img(src="/images/wine-match-icon.png")
      p Wine

  div.match-wrapper
    p.section-headline The Perfect Combi
    div.match
      img.match-img(src="/images/food-match-icon.png")
      p Food
    div.match.match-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quas veritatis voluptas dolorem consectetur! Est aliquam nostrum magnam modi voluptate officiis quod iure repellendus vero asperiores natus dolor laborum, explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ea necessitatibus deserunt porro tenetur quidem commodi optio cupiditate perferendis esse id possimus in saepe totam adipisci, nesciunt quasi officia? Nisi!
    div.match
      img.match-img(src="/images/wine-match-icon.png")
      p Wine